<!DOCTYPE html>
<html>
<head>
	<title>{{user.alias}}</title>
</head>
<body>
<h1>{{user.name}}</h1>
<a href="{% url 'dashboard' %}">Home</a>
<a href="{% url 'addingbook' %}">Add book and Review</a>
<a href="{% url 'logout' %}">Logout</a>
<h3>Reviews by {{user.name}}</h3>
{% for review in reviews %}
	{% if review.user.id == user.id %}
	<ul>
		<li>Book: <a href="{% url 'bookinfo' id=review.book.id %}">{{review.book.title}}</a></li>
		<li>Rating: {{review.rating}}</li>
		<li><a href="{% url 'userinfo' id=review.user.id %}">{{review.user.name}}</a> says: {{review.review}}</li>
		<li>Posted on {{review.created_at}}</li>
	</ul>
	{% endif %}
{% endfor %}
</body>
</html>